services:
    pa-dbpg:
        container_name: pa-dbpg-web-node
        image: postgres:16-bookworm
        restart: always
        environment:
          - POSTGRES_USER=${PGUSER}
          - POSTGRES_PASSWORD=${PGPASSWORD}
        ports:
          - "${PGPORT}:${PGPORT}"
        volumes: 
          - ./sql/init:/docker-entrypoint-initdb.d/.:ro

    pa-web-node:
        container_name: pa-web-node
        build:
          context: .
          dockerfile: Dockerfile.web-node
        env_file:
          - .env
        expose:
          - "${APP_PORT}"
        ports:
          - "${APP_PORT}:${APP_PORT}"
        depends_on:
          - pa-dbpg
        restart: always
